<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/accesories.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Iosevka+Charon:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
    <link rel="icon" href="../assets/logo.svg" type="image/png">
    <title>Moto Zone</title>
</head>
<body>
    <header>
        <img class="logo" src="../assets/logo.svg" alt="logo">
        <section class="menu">
            <a href="../index.html">Principal</a>
            <a href="motorcycles.html">Motocicletas</a>
            <a href="accesories.html" class="Accesories">Accesorios</a>
            <a href="us.html">Nosotros</a>
            <a href="contact.html">Contáctanos</a>
        </section>
    </header>
    <section class="title">
        <h1>Accesories</h1>
        <img src="../assets/motoFondo.png" alt="moto">
    </section>
    <section class="items">
        <div class="card">
            <div class="cardImg">
                <img src="../assets/tanque.png" alt="product">
            </div>
            <div class="content">
                <h1>Maleta para tanque de moto</h1>
                <p>$50.000</p>
            </div>
        </div>
        <div class="card">
            <div class="cardImg">
                <img src="../assets/maletero.png" alt="product">
            </div>
            <div class="content">
                <h1>Maletero</h1>
                <p>$180.000</p>
            </div>
        </div>
        <div class="card">
            <div class="cardImg">
                <img src="../assets/espejos.png" alt="product">
            </div>
            <div class="content">
                <h1>Espejos de lujo</h1>
                <p>$70.000</p>
            </div>
        </div>
        <div class="card">
            <div class="cardImg">
                <img src="../assets/slider.png" alt="product">
            </div>
            <div class="content">
                <h1>sliders</h1>
                <p>$130.000</p>
            </div>
        </div>
    </section>
    <section class="items">
        <div class="card">
            <div class="cardImg">
                <img src="../assets/exploradoras.png" alt="product">
            </div>
            <div class="content">
                <h1>Exploradoras</h1>
                <p>$40.000</p>
            </div>
        </div>
        <div class="card">
            <div class="cardImg">
                <img src="../assets/direccionales.png" alt="product">
            </div>
            <div class="content">
                <h1>Direccionales</h1>
                <p>$45.000</p>
            </div>
        </div>
        <div class="card">
            <div class="cardImg">
                <img src="../assets/stop.png" alt="product">
            </div>
            <div class="content">
                <h1>Luz de Stop</h1>
                <p>$50.000</p>
            </div>
        </div>
        <div class="card">
            <div class="cardImg">
                <img src="../assets/chaquetaCuero.png
                " alt="product">
            </div>
            <div class="content">
                <h1>Chaqueta de Cuero</h1>
                <p>$300.000</p>
            </div>
        </div>
    </section>
</body>
</html>