<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/motorcycles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Iosevka+Charon:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
    <link rel="icon" href="../assets/logo.svg" type="image/png">
    <title>Moto Zone</title>
</head>
<body>

    <!-- MENU HEADER -->

    <header>
        <img class="logo" src="../assets/logo.svg" alt="logo">
        <section class="menu">
            <a href="../index.html">Principal</a>
            <a href="motorcycles.html" class="Motor">Motocicletas</a>
            <a href="accesories.html">Accesorios</a>
            <a href="us.html">Nosotros</a>
            <a href="contact.html">Contáctanos</a>
        </section>
    </header>
    <section class="title">
        <h1>Motocicletas</h1>
    </section>

    <!-- Carrusel 1 -->
    <div id="carousel-1" class="carousel-wrapper">
        <h2 class="carousel-title">Sport</h2>
        <h3 class="carousel-info">Las motos deportivas son motocicletas diseñadas para ofrecer alto rendimiento, velocidad y precisión en la conducción. Se caracterizan por su diseño aerodinámico, motores potentes y una postura de manejo inclinada hacia adelante, lo que permite mayor control y estabilidad a altas velocidades.</h3>
        <div class="carousel-track-container"> <!-- slides por JS --> </div>
        <div class="controls">
            <button class="arrow-btn" id="prev-carousel-1"><!-- svg izq --></button>
            <div class="dots"></div>
            <button class="arrow-btn" id="next-carousel-1"><!-- svg der --></button>
        </div>
    </div>

    <!-- Carrusel 2 -->
    <div id="carousel-2" class="carousel-wrapper">
        <h2 class="carousel-title">Naked</h2>
        <h3 class="carousel-info">Las motos naked se caracterizan por tener un diseño más simple y sin carenados, dejando el motor y otras partes visibles. Ofrecen una posición de conducción más cómoda y versátil, siendo ideales tanto para la ciudad como para trayectos cortos en carretera.</h3>
        <div class="carousel-track-container"></div>
        <div class="controls">
            <button class="arrow-btn" id="prev-carousel-2"><!-- svg izq --></button>
            <div class="dots"></div>
            <button class="arrow-btn" id="next-carousel-2"><!-- svg der --></button>
        </div>
    </div>

    <!-- Carrusel 3 -->
    <div id="carousel-3" class="carousel-wrapper">
        <h2 class="carousel-title">Touring</h2>
        <h3 class="carousel-info">Están diseñadas para viajes largos y mayor comodidad en carretera. Suelen incluir asientos amplios, parabrisas, maleteros y tecnología para el confort del conductor, permitiendo recorrer largas distancias de forma cómoda.</h3>
        <div class="carousel-track-container"> <!-- slides por JS --> </div>
        <div class="controls">
            <button class="arrow-btn" id="prev-carousel-3"><!-- svg izq --></button>
            <div class="dots"></div>
            <button class="arrow-btn" id="next-carousel-3"><!-- svg der --></button>
        </div>
    </div>
    
    <script src="../js/motorcycles.js"></script>
</body>
</html>